In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [4]:
data=[4, 8, 15, 16, 23, 42]
series= pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# question 2

In [7]:
data2=[0,1,2,3,4,5,6,7,8,9,10]

In [8]:
series=pd.Series(data2)

In [10]:
print(series)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [11]:
# question 3

In [12]:
data3 = {
    'Name': ['Alice', 'Bob', 'Clarlie'],
    'Age': [25, 30, 35],
    'Gender': ['Male', 'Male', 'Female']
}

In [13]:
dataframe= pd.DataFrame(data3)

In [15]:
print(dataframe)

      Name  Age  Gender
0    Alice   25    Male
1      Bob   30    Male
2  Clarlie   35  Female

In [16]:
# question 4

In [17]:
"""In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure. It is the most commonly used data structure in Pandas and can be thought of as a collection of Series objects, where each Series represents a column, and all columns share the same index. DataFrames are similar to spreadsheets or SQL tables and are used to store and manipulate structured data.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type (integers, floats, strings, etc.) and has an associated label or index for each element. A Series is essentially a single column of data with an index."""

'In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure. It is the most commonly used data structure in Pandas and can be thought of as a collection of Series objects, where each Series represents a column, and all columns share the same index. DataFrames are similar to spreadsheets or SQL tables and are used to store and manipulate structured data.\n\nOn the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type (integers, floats, strings, etc.) and has an associated label or index for each element. A Series is essentially a single column of data with an index.'

In [18]:
# question 5

In [20]:
csvfiledata=pd.read_csv("services.csv")

In [21]:
csvfiledata.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [23]:
csvfiledata.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [29]:
csvfiledata["application_process"]

0                            Walk in or apply by phone.
1                    Apply by phone for an appointment.
2           Phone for information (403-4300 Ext. 4322).
3                                       Apply by phone.
4                                Phone for information.
5     Walk in or apply by phone for membership appli...
6     Apply by phone or be referred by a doctor, soc...
7                                       Apply by phone.
8     Walk in. Proof of residency in California requ...
9     Walk in. Proof of California residency to rece...
10    Walk in. Proof of California residency require...
11    Walk in or apply by phone, email or webpage re...
12    Walk in. Proof of California residency require...
13    Call for appointment. Referral from human serv...
14            Walk in or through other agency referral.
15    Walk in. Written application, identification r...
16                                Call for information.
17    Call for screening appointment. Medical visits...
18       Call for screening appointment (650-347-3648).
19                                             Walk in.
20                      By phone during business hours.
21                    Walk in or apply by phone or mail
22                    Walk in or apply by phone or mail
Name: application_process, dtype: object

In [30]:
# question 6

In [31]:
"""Series: A Pandas Series is mutable, meaning you can modify the data within a Series after it has been created. You can change individual elements in a Series or add/remove elements from it.

DataFrame: Similarly, a Pandas DataFrame is also mutable. You can modify the data within a DataFrame, including adding or removing columns, changing values in cells, and performing various data manipulations.

Panel: However, the Panel data structure in Pandas is deprecated as of version 0.25.0 (July 2019), and it is no longer actively developed. Panels were three-dimensional data structures, but they were removed from the main Pandas library because they were deemed less useful and less commonly used than Series and DataFrames. If you are working with newer versions of Pandas, you are unlikely to encounter Panels, and you should primarily focus on Series and DataFrames."""

'Series: A Pandas Series is mutable, meaning you can modify the data within a Series after it has been created. You can change individual elements in a Series or add/remove elements from it.\n\nDataFrame: Similarly, a Pandas DataFrame is also mutable. You can modify the data within a DataFrame, including adding or removing columns, changing values in cells, and performing various data manipulations.\n\nPanel: However, the Panel data structure in Pandas is deprecated as of version 0.25.0 (July 2019), and it is no longer actively developed. Panels were three-dimensional data structures, but they were removed from the main Pandas library because they were deemed less useful and less commonly used than Series and DataFrames. If you are working with newer versions of Pandas, you are unlikely to encounter Panels, and you should primarily focus on Series and DataFrames.'

In [32]:
# question 7

In [33]:
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'])

data = {
    'Name': names,
    'Age': ages,
    'City': cities
}

df = pd.DataFrame(data)


print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago