In [1]:
"""A database is a structured collection of data that is organized and stored for efficient retrieval and manipulation. Databases can be broadly categorized into two main types: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases.

SQL databases:

SQL databases are based on a structured schema that defines the structure of the data, including tables, columns, data types, and relationships.
They use a tabular format to store data, where each row represents a record, and each column represents a data attribute.
Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.
NoSQL databases:

NoSQL databases are designed to handle large volumes of unstructured or semi-structured data.
They offer more flexible data models compared to SQL databases and are suitable for scenarios where the data structure is not fixed or well-defined.
NoSQL databases come in various types, such as document stores (e.g., MongoDB), key-value stores (e.g., Redis), column-family stores (e.g., Cassandra), and graph databases (e.g., Neo4j)."""

'A database is a structured collection of data that is organized and stored for efficient retrieval and manipulation. Databases can be broadly categorized into two main types: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases.\n\nSQL databases:\n\nSQL databases are based on a structured schema that defines the structure of the data, including tables, columns, data types, and relationships.\nThey use a tabular format to store data, where each row represents a record, and each column represents a data attribute.\nExamples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.\nNoSQL databases:\n\nNoSQL databases are designed to handle large volumes of unstructured or semi-structured data.\nThey offer more flexible data models compared to SQL databases and are suitable for scenarios where the data structure is not fixed or well-defined.\nNoSQL databases come in various types, such as document stores (e.g., MongoDB), key-value stores (e.g., Redis), column-family stores (e.g., Cassandra), and graph databases (e.g., Neo4j).'

In [2]:
#question 2

In [4]:
"""
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()

#create database 
database1 = "CREATE DATABASE if not exists test3"
 # create table
table = "CREATE TABLE if not exists test3.Students( id INT PRIMARY KEY, name VARCHAR(50),age INT)"
drop = "DROP DATABASE test1 "
mycursor.execute(drop)
mycursor.close()
mydb.close()
"""

'\nimport mysql.connector\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nprint(mydb)\nmycursor = mydb.cursor()\n\n#create database \ndatabase1 = "CREATE DATABASE if not exists test3"\n # create table\ntable = "CREATE TABLE if not exists test3.Students( id INT PRIMARY KEY, name VARCHAR(50),age INT)"\ndrop = "DROP DATABASE test1 "\nmycursor.execute(drop)\nmycursor.close()\nmydb.close()\n'

In [5]:
"""CREATE: Used to create new database objects like tables, indexes, or views.
Example: CREATE TABLE Students (id INT, name VARCHAR(50));

DROP: Used to delete database objects like tables, indexes, or views.
Example: DROP TABLE Students;

ALTER: Used to modify the structure of an existing database object, such as adding or deleting columns in a table.
Example: ALTER TABLE Students ADD COLUMN age INT;

TRUNCATE: Used to remove all data from a table while keeping the table structure intact.
Example: TRUNCATE TABLE Students;"""

'CREATE: Used to create new database objects like tables, indexes, or views.\nExample: CREATE TABLE Students (id INT, name VARCHAR(50));\n\nDROP: Used to delete database objects like tables, indexes, or views.\nExample: DROP TABLE Students;\n\nALTER: Used to modify the structure of an existing database object, such as adding or deleting columns in a table.\nExample: ALTER TABLE Students ADD COLUMN age INT;\n\nTRUNCATE: Used to remove all data from a table while keeping the table structure intact.\nExample: TRUNCATE TABLE Students;'

In [6]:
#question 4

In [1]:
"""DQL stands for Data Query Language. It's used to retrieve data from the database.

SELECT: Used to retrieve data from one or more tables based on specified conditions.
Example: SELECT * FROM Students WHERE age > 18;
"""

"DQL stands for Data Query Language. It's used to retrieve data from the database.\n\nSELECT: Used to retrieve data from one or more tables based on specified conditions.\nExample: SELECT * FROM Students WHERE age > 18;\n"

In [2]:
# question5

In [3]:
"""Primary Key: A primary key is a column (or set of columns) in a table that uniquely identifies each record in that table. It ensures that each row has a unique identifier, and it's used to enforce data integrity and establish relationships with other tables. For example, in a "Students" table, the "id" column could be the primary key.

Foreign Key: A foreign key is a column (or set of columns) in a table that establishes a link between the data in two tables. It creates a relationship by referencing the primary key of another table. For instance, in an "Orders" table, there might be a "customer_id" column that references the "id" column in the "Customers" table, creating a relationship between orders and customers."""

'Primary Key: A primary key is a column (or set of columns) in a table that uniquely identifies each record in that table. It ensures that each row has a unique identifier, and it\'s used to enforce data integrity and establish relationships with other tables. For example, in a "Students" table, the "id" column could be the primary key.\n\nForeign Key: A foreign key is a column (or set of columns) in a table that establishes a link between the data in two tables. It creates a relationship by referencing the primary key of another table. For instance, in an "Orders" table, there might be a "customer_id" column that references the "id" column in the "Customers" table, creating a relationship between orders and customers.'

In [4]:
# question 6

In [5]:
"""
mport mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()

#create database 
database1 = "CREATE DATABASE if not exists test3"
 # create table
table = "CREATE TABLE if not exists test3.Students( id INT PRIMARY KEY, name VARCHAR(50),age INT)"
drop = "TRUNCATE TABLE test3.Students "
insert = "INSERT INTO test3.Student values('Ayush',787,22)"
update ="UPDATE test3.Student SET age = 21 WHERE nam ='Ayush'"
delete="DELETE FROM test3.Student WHERE age > 20"
mycursor.execute(delete)
mydb.commit()
mydb.close()

"""

'\nmport mysql.connector\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nprint(mydb)\nmycursor = mydb.cursor()\n\n#create database \ndatabase1 = "CREATE DATABASE if not exists test3"\n # create table\ntable = "CREATE TABLE if not exists test3.Students( id INT PRIMARY KEY, name VARCHAR(50),age INT)"\ndrop = "TRUNCATE TABLE test3.Students "\ninsert = "INSERT INTO test3.Student values(\'Ayush\',787,22)"\nupdate ="UPDATE test3.Student SET age = 21 WHERE nam =\'Ayush\'"\ndelete="DELETE FROM test3.Student WHERE age > 20"\nmycursor.execute(delete)\nmydb.commit()\nmydb.close()\n\n'

In [6]:
# question7

In [7]:
"""FROM: Specifies the table(s) from which to retrieve data.
JOIN: Combines data from multiple tables based on specified conditions.
WHERE: Filters the rows based on specified conditions.
GROUP BY: Groups rows that have the same values in specified columns.
HAVING: Filters the grouped rows based on conditions.
SELECT: Specifies the columns to retrieve.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set based on specified columns.
LIMIT / OFFSET: Limits the number of rows returned and specifies a starting row for the result set."""

'FROM: Specifies the table(s) from which to retrieve data.\nJOIN: Combines data from multiple tables based on specified conditions.\nWHERE: Filters the rows based on specified conditions.\nGROUP BY: Groups rows that have the same values in specified columns.\nHAVING: Filters the grouped rows based on conditions.\nSELECT: Specifies the columns to retrieve.\nDISTINCT: Removes duplicate rows from the result set.\nORDER BY: Sorts the result set based on specified columns.\nLIMIT / OFFSET: Limits the number of rows returned and specifies a starting row for the result set.'